@section Style {
    <link rel="stylesheet" href="style/favoris.css">
}

<div class="container-fluid favoris-container">
    <h1>Mes cartes graphiques préférées</h1>
    <p>Vous avez <b>4 cartes graphiques en favoris.</b></p>
    <table class="table table-dark table-striped table-hover">
        <tr>
            <th>Image</th>
            <th>Carte graphiques</th>
            <th class="d-none d-sm-table-cell">Fabricant</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <img src="/images/GPUs/Gigabyte/RTX-3070-Vision-OC/RTX-3070-Vision-OC.png" alt="RTX-3070-Vision-OC.png" width="300">
            </td>
            <td class="text-right text-md-left">
                <a href="/Enfant/Detail">GeForce RTX 3070 Vision OC</a>
            </td>
            <td class="d-none d-sm-table-cell">Gigabyte</td>
            <td>
                <form action="https://www.w3schools.com/action_page.php" method="post" class="form-inline">
                    <input type="hidden" name="nom" value="RTX-3070-Vision-OC">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/GPUs/Asus/RTX-3060-Strix-Gaming-OC/RTX-3060-Strix-Gaming-OC.png" alt="RTX-3060-Strix-Gaming-OC.png" width="300">
            </td>
            <td class="text-right text-md-left"><a href="/Enfant/Detail">GeForce RTX 3060 Strix Gaming OC</a></td>
            <td class="d-none d-sm-table-cell">Asus</td>
            <td>
                <form action="https://www.w3schools.com/action_page.php" method="post" class="form-inline">
                    <input type="hidden" name="nom" value="RTX-3070-Vision-OC">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/GPUs/Asus/RTX-3090-Strix-OC-White/RTX-3090-Strix-OC-White.png" alt="RTX-3090-Strix-OC-White.png" width="300">
            </td>
            <td class="text-right text-md-left"><a href="/Enfant/Detail">GeForce RTX 3090 Strix OC White</a></td>
            <td class="d-none d-sm-table-cell">Asus</td>
            <td>
                <form action="https://www.w3schools.com/action_page.php" method="post" class="form-inline">
                    <input type="hidden" name="nom" value="RTX-3070-Vision-OC">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/GPUs/EVGA/RTX-3090-FTW3-Ultra-Gaming/RTX-3090-FTW3-Ultra-Gaming.png" alt="RTX-3090-FTW3-Ultra-Gaming.png" width="300">
            </td>
            <td class="text-right text-md-left"><a href="/Enfant/Detail">GeForce RTX 3090 FTW3 Ultra Gaming</a></td>
            <td class="d-none d-sm-table-cell">EVGA</td>
            <td>
                <form action="https://www.w3schools.com/action_page.php" method="post" class="form-inline">
                    <input type="hidden" name="nom" value="RTX-3070-Vision-OC">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
    </table>
</div>
